<div class="container">
	<h1>Kniffel Hardcore</h1>

	<table class="table">
		<tr>
			<td>Einser</td>
			<td>Nur 1er zählen</td>
			<td [scoreField]="findCategory('Aces')" [onClick]="score">
			</td>
		</tr>
		<tr>
			<td>Zweier</td>
			<td>Nur 2er zählen</td>
			<td [scoreField]="findCategory('Twos')" [onClick]="score">
			</td>
		</tr>
		<tr>
			<td>Dreier</td>
			<td>Nur 3er zählen</td>
			<td [scoreField]="findCategory('Threes')" [onClick]="score">
			</td>
		</tr>
		<tr>
			<td>Vierer</td>
			<td>Nur 4er zählen</td>
		</tr>
		<tr>
			<td>Fünfer</td>
			<td>Nur 5er zählen</td>
		</tr>
		<tr>
			<td>Sechser</td>
			<td>Nur 6er zählen</td>
		</tr>
		<tr>
			<td><strong>Zwischensumme</strong></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Bonus bei 63 oder mehr</strong></td>
			<td>plus 35</td>
			<td></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Dreierpasch</td>
			<td>Alle Augen zählen</td>
			<td>asd</td>
		</tr>
		<tr>
			<td>Viererpasch</td>
			<td>Alle Augen zählen</td>
		</tr>
		<tr>
			<td>Full House (2+3 gleiche)</td>
			<td>25 Punkte</td>
		</tr>
		<tr>
			<td>Kleine Straße (4 in Folge)</td>
			<td>30 Punkte</td>
		</tr>
		<tr>
			<td>Große Straße (5 in Folge)</td>
			<td>40 Punkte</td>
		</tr>
		<tr>
			<td>Flush (5 gleiche)</td>
			<td>50 Punkte</td>
		</tr>
		<tr>
			<td>Chance</td>
			<td>Alle Augen zählen</td>
		</tr>
		<tr>
			<td><strong>Zwischensumme unterer Teil</strong></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Endsumme</strong></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>

